/node_modules
/public/hot
/public/storage
/storage/*.key
/views/src/gapi.json
/vendor
.env
.env.backup
.phpunit.result.cache
/views/*
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
node/node_modules
