* {
  margin: 0;
  padding: 0;
}
*::-webkit-scrollbar {
  border: 4px solid transparent;
  background-clip: content-box;
  background-color: transparent;
  width: 5px;
}
*::-webkit-scrollbar-track {
  width: 5px;
  border-radius: 10px;
}

.hide-on-leave{
  &::-webkit-scrollbar{
    opacity: 0!important;
  }
  &:hover{
    &::-webkit-scrollbar{
      opacity: 1!important;
    }
  }
}

*::-webkit-scrollbar-thumb {
  background: rgba(66, 165, 245, 0.25);
  border-radius: 10px;
}
